#ghHelperNav .header-nav {
  display: inline-block;
}

#ghHelperNav .divider-vertical {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: white;
  margin: 0 0.5em;
}

#ghHelperNav li {
  display: inline;
  list-style: none;
  padding-left: 0;
  margin: 0 0.5em;  
}

#ghHelperNav li a {
  color: #88c;
  text-decoration: none;
  cursor: pointer;
}

#ghHelperNav li.selected a {
  color: #bbf;
  text-decoration: underline;
  font-weight: bold;
}